//Font
$font-family-sans-serif: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-size-base:          14px !default;
$font-size-large:         ceil(($font-size-base * 1.25)) !default; // ~18px
$font-size-small:         ceil(($font-size-base * 0.85)) !default; // ~12px

$font-size-h1:            floor(($font-size-base * 3)) !default; // ~36px
$font-size-h2:            floor(($font-size-base * 2.15)) !default; // ~30px
$font-size-h3:            ceil(($font-size-base * 1.7)) !default; // ~24px
$font-size-h4:            ceil(($font-size-base * 1.25)) !default; // ~18px
$font-size-h5:            $font-size-base !default;
$font-size-h6:            ceil(($font-size-base * 0.85)) !default; // ~12px

$gray-base:              #345 !default;
$gray-darker:            lighten($gray-base, 13.5%) !default; // #222
$gray-dark:              lighten($gray-base, 20%) !default;   // #333
$gray:                   lighten($gray-base, 33.5%) !default; // #555
$gray-light:             lighten($gray-base, 46.7%) !default; // #777
$gray-lighter:           lighten($gray-base, 65.5%) !default; // #eee


//Buttons
$brand-primary:         #1c262b !default; // #337ab7
$brand-success:         #2BA163 !default;
$brand-info:            #02baf2 !default;
$brand-warning:         #ffad11 !default;
$brand-danger:          #cc0000 !default;

$border-radius-base:        2px !default;
$border-radius-large:       2px !default;
$border-radius-small:       2px !default;

$btn-default-border:             transparent;

$btn-primary-border:             transparent;
$btn-success-border:             transparent;
$btn-info-border:                transparent;
$btn-warning-border:             transparent;
$btn-danger-border:              transparent;

//Forms

//** `<input>` background color
$input-bg:                       #fff !default;
//** `<input disabled>` background color
$input-bg-disabled:              $gray-lighter !default;

//** Text color for `<input>`s
$input-color:                    $gray !default;
//** `<input>` border color
$input-border:                   #ccc !default;
//** Border color for inputs on focus
$input-border-focus:             $gray-light !default;

//** Placeholder text color
$input-color-placeholder:        $gray-light !default;

//== Form states and alerts
//
//## Define colors for form feedback states and, by default, alerts.
$state-success-text:             darken(adjust-hue($brand-success, -10), 25%) !default;
$state-success-bg:               $brand-success !default;
$state-success-border:           darken(adjust-hue($state-success-bg, -10), 5%) !default;

$state-info-text:                darken(adjust-hue($brand-info, -10), 30%) !default; 
$state-info-bg:                  $brand-info !default;
$state-info-border:              darken(adjust-hue($state-info-bg, -10), 7%) !default;

$state-warning-text:             darken(adjust-hue($brand-warning, -10), 20%) !default;
$state-warning-bg:               $brand-warning  !default;
$state-warning-border:           darken(adjust-hue($state-warning-bg, -10), 5%) !default;

$state-danger-text:              darken(adjust-hue($brand-danger, -10), 20%) !default;
$state-danger-bg:                $brand-danger !default;
$state-danger-border:            darken(adjust-hue($state-danger-bg, -10), 5%) !default;